body{align-content: center;
padding-bottom: 50px;

}
h2{font-size: 22px; font-weight: bold;
padding: 5px 0 20px;}
nav, section {
    
    width: 960px;
    margin: 0 auto;
}
header {
position: fixed;
top:0;
left:0;
z-index: 1000;
width:100%;
background-color: rgb(99, 93, 93);

}
nav {
    padding: 10px 0;
}


nav ul {
    list-style-type:none; 
    color: rgb(192, 189, 189);
}

nav li{
 display: inline-block;
vertical-align: middle;
width: 180px;
padding-left: 20px;
box-sizing: border-box;


}

nav li:first-child{
    padding-left: 0;
    width:200px;
}


 section{ 
    
    margin-top:110px;}



.featuredSection{
/** float boxes next to one another in a row. */
    clear: both;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 120px;

}
.featuredSection article{
    padding-left: 20px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

article:first-child {

    padding-left: 0px;
}


article a {
border: solid 1px #8e8e8e;
background-color: rgb(41, 31, 31);

margin-top: 20px;
display: inline-block;
padding: 20px;
color:#8e8e8e;
text-decoration: none;
}




footer {
position: fixed;
left: 0px;
bottom: 0px;
height:100px;
width: 100%;
background-color: rgb(99, 93, 93);

}
p {
line-height: 1.25em;
font-size: 1.3em;
overflow-y: scroll;
height: 275px;
}
div{float: left;
    margin-top: 20px;
    
}
.middleBox {padding-left:30px;
    padding-right:30px;
}