header {
    position: fixed;
top:0;
left:0;
width:100%;
background-color: rgb(99, 93, 93);

}

nav {

padding: 10px 0; 
width: 960px;
margin: 0 auto;



}

nav ul {
    list-style-type:none; 
    float: left;
    color: rgb(192, 189, 189);
}

nav li{display: inline-block;
vertical-align: middle;
width: 180px;
padding-left: 20px;
box-sizing: border-box;


}

nav li:first-child{
    padding-left: 0;
    width:200px;
}
section{

    margin-top:110px;}

nav, section{ 
    width:960;
    margin: 0 auto;
    
    margin-top:110px;}
.footer {


}